.draw-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    gap: 10px;
}

.draw-round {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    position: relative;
}

.column-1 {
    gap: 10px;
}

.column-2 {
    top: 50px;
    gap: 127px;
}

.column-3 {
    top: 170px;
    gap: 360px;
}

.column-4 {
    top: 400px;
    gap: 800px;
}

.column-5 {
    top: 800px;
}

.draw-round.round-of-2 {
    gap: 200px;
}

/*  */

@media print {
    .draw-round {
        width: 200px;
        align-items: flex-start;
    }

    .draw-list .card-header {
        display: none;
    }

    .player-games-won {
        display: none;
    }

    .winner-icon {
        display: none;
    }

    .draw-card {
        width: 100%;
    }

    .player-section {
        height: 40px;
    }

    .column-2 {
        top: 50px;
        gap: 100px;
    }

    .column-3 {
        top: 140px;
        gap: 280px;
    }

    .column-4 {
        top: 300px;
        gap: 650px;
    }

    .column-5 {
        top: 650px;
    }

    .draw-list .player-info {
        overflow: hidden;
        white-space: nowrap;
    }

    .print-event-name {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 30px;
    }
}