.draw-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 3000px;
    overflow-x: scroll;
}

.draw-round {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}