.draw-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.draw-of-32 {
    height: 3000px;
}

.draw-of-16 {
    height: 1500px;
}

.draw-of-8 {
    height: 750px;
}

.draw-of-4 {
    height: 375px;
}

.draw-of-2 {
    height: 187.5px;
}

.draw-round {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    position: relative;
}

.column-1 {
    gap: 10px;
}

.column-2 {
    top: 50px;
    gap: 150px;
}

.column-3 {
    top: 190px;
    gap: 425px;
}

.column-4 {
    top: 450px;
    gap: 1000px;
}

.column-5 {
    top: 1000px;
}