.draw-card {
    padding: 0;
    max-width: 100%;
}

.draw-card .card-header {
    width: 300px;
    padding: 3px 5px;
    font-size: 11px;
}

.draw-card-body .player-section:first-child {
    border-bottom: 1px solid black;
}

.draw-card-body .player-info {
    padding: 0 0 0 10px;
}

.draw-card-body .player-section {
    width: 100%;
}

.draw-card .player-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.player-games-won {
    padding: 10px 15px;
    border-right: 1px solid black;
}

.draw-card-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.draw-card-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}