.group-container {
    display: flex;
    align-items: flex-start;
    width: 350px;
}

.groups-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.print-event-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0;
}

.groups-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

@media print {
    .admin-edit-button {
        display: none;
    }
    
    .group-container {
        width: 240px;
    }

    .print-event-name {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}