.group-card {
    padding: 0;
    max-width: 500px;
    width: 500px;
}

.group-card .card-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.group-card-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-card-player-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
}

.group-card-player:nth-child(even) {
    background: #00000017;
}

.group-card .card-bubble {
    border-color: white;
}

@media print {
    .group-card .player-info {
        width: 100%;
        padding: 2px;
    }

    .group-card .card-bubble {
        display: none;
    }

    .group-card-player-stats {
        display: none;
    }
}