.player-list {
    width: 100%;
}

.player {
    display: grid;
    grid-template-columns: .15fr .35fr .10fr .10fr;
    padding: 10px;
}

.player:nth-child(odd) {
    background: #e1e1e1;
}

.tabs {
    display: flex;
    gap: 10px;
}