.player-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.player-buttons {
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-in-button {
    padding: 1em;
    border-radius: 50%;
    background: transparent;
    border: 1px solid black;
}

.check-in-input {
    padding: 1em;
    width: 50px;
}

.verify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}