.admin-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.admin-modal fieldset {
    padding: 10px;
    display: flex;
    gap: 10px;
}