.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.tab {
    font-size: 20px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
}

.selected.tab {
    border: 2px solid black;
}

.player-list {
    max-height: 500px;
    overflow-y: scroll;
    width: 100%;
}

.player {
    display: grid;
    grid-template-columns: .15fr .35fr .10fr .10fr;
}

.player:nth-child(odd) {
    background: #e1e1e1;
}